* {
    margin     : 0;
    box-sizing : border-box;
    font-family: 'Montserrat', sans-serif;
    list-style : none;
}



#app {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items    : center;
    width          : 1100px;
    margin         : auto;
    height         : 90vh;
}

.box {
    width           : 100%;
    padding         : 20px;
    background-color: #444;
    color           : #fff;
}

.box h2 {
    margin-bottom: 20px;
}

.box:nth-child(even) {
    background: #fff;
    color     : #222;
}